examples/send_image_mails.txt
[{"id":"db8b8b15.920738","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"27a08e55.12bef2","type":"function","z":"db8b8b15.920738","name":"Flow 1 : Setup mail content","func":"msg.topic = \"Result flow 1\";\n\nmsg.payload = \"Dear,<br><br>Your PI detector has detected movement in the living room.<br>In attachment you can find a camera snapshot.<br><br>Kind regards,<br>Your PI chipset\";\n\nmsg.attachments = [{\n    filename: '333.png',\n    path: '/home/gaurav/Desktop/test/3/333.png',\n    content: msg.payload\n}];\n        \nreturn msg;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["f40fee59.cbbeb"]]},{"id":"58688ebf.f270c","type":"inject","z":"db8b8b15.920738","name":"Start","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":"","x":130,"y":220,"wires":[["7ea18d05.7db2c4"]]},{"id":"80b8ebff.60f0d8","type":"change","z":"db8b8b15.920738","name":"Flow 2 : Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": '333.png', \t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Result flow 2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Your PIR detector has detected movement in the living room.<br>In attachment you can find a camera snapshot.<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":677.7577819824219,"y":281.40229415893555,"wires":[["f40fee59.cbbeb"]]},{"id":"f40fee59.cbbeb","type":"e-mail","z":"db8b8b15.920738","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"gauravatmunich@gmail.com","dname":"Send mail","x":912.7579002380371,"y":219.40223264694214,"wires":[]},{"id":"a5f42d9.04dd3d","type":"change","z":"db8b8b15.920738","name":"Flow 3 : Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": '333.png', \t    \"content\": $$.payload,\t    \"cid\": 'some_unique_file_id'\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Result flow 3","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Your PIR detector has detected movement in the living room.<br>Here is your camera snapshot:<br><img src=\"cid:some_unique_file_id\"/>',<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":678.7578163146973,"y":343.9022798538208,"wires":[["f40fee59.cbbeb"]]},{"id":"7380c3d7.9e18bc","type":"change","z":"db8b8b15.920738","name":"Flow 4 : Setup mail content","rules":[{"t":"set","p":"attachments","pt":"msg","to":"[{\t    \"filename\": 'camera_snapshot.jpg', \t    \"path\": '/tmp/local_image.jpg',\t    \"content\": $$.payload\t}]","tot":"jsonata"},{"t":"set","p":"topic","pt":"msg","to":"Result flow 4","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"Dear,<br><br>Your PIR detector has detected movement in the living room.<br>In attachment you can find the file that was locally stored.<br><br>Kind regards,<br>Your Node-Red flow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":675.7578239440918,"y":456.152325630188,"wires":[["f40fee59.cbbeb"]]},{"id":"979fd51a.2d2808","type":"file","z":"db8b8b15.920738","name":"Image_saved","filename":"/home/gaurav/Desktop/test/3/333.png","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":360,"y":320,"wires":[["a5f42d9.04dd3d"]]},{"id":"7ea18d05.7db2c4","type":"file in","z":"db8b8b15.920738","name":"Image_captured","filename":"/home/gaurav/Desktop/test/1/111.png","format":"","chunk":false,"sendError":false,"encoding":"none","x":340,"y":220,"wires":[["979fd51a.2d2808"]]}]
